<%- include('partials/header') %>
<div class="row justify-content-center">
    <div class="col-md-4">
      <img src="https://covers.openlibrary.org/b/isbn/<%=book.book_id%>-L.jpg" class="img-fluid" alt="Book Image">    
    </div>
    <div class="col-md-7">
      <span><h1><%=book.title%></h1> <h3><%=book.author%></h3></span>
    <% if (locals.post) { %>
      <small>edit: <%=post.date.toISOString().substring(0, 10)%></small>
      <form id="editForm" method="post" action="/posts/<%=post.book_id%>">
        <input type="hidden" name="type" value="edit"> 
        <textarea name="review" cols="50" rows="10"><%=post.review %></textarea>
        <div>
          rate: <input type="text" name="rate" value=<%=post.rate%>>
          <button class="full-width" type="submit">
            submit
          </button>
        </div>
      </form>
      <% } else {%>
        <form id="newForm" method="post" action="/posts/<%=book.book_id%>">
          <input type="hidden" name="type" value="new"> 
          <textarea name="review" cols="50" rows="10"></textarea>
          <div>
            rate: <input type="text" name="rate">
            <button class="full-width" type="submit">
              submit
            </button>
          </div>
        </form>
        <% } %>
    </div> 
</div>
<%- include('partials/footer') %>
