<%- include('partials/header') %>
<h1>Searched Books</h1>
<hr class="my-hr">
<div class="row justify-content-center m-4">
    <% if (empty) { %>
        <hr>
        <h1>Empty Items</h1>
        <hr class="mt-4">
      <% } else { %>
  <% books.forEach((book) => { %>
    <div class="col-md-9 m-2">
      <div class="card p-5">
        <div class="row card-body">
          <div class="col p-3">
            <img src="https://covers.openlibrary.org/b/isbn/<%=book.book_id%>-L.jpg" class="img-fluid" alt="Book Image">
          </div>
          <div class="col">
            <h5 class="card-title"><%=book.title%></h5>
            <div class="card-text">
              <p>Author: <%=book.author%></p>
            </div class="row">
              <form class="edit" action="/edit" method="post">
                <input type="hidden" name="book_id" value=<%=book.book_id%>>
                <button class="edit btn btn-primary" name="type" value="new" type="submit"> New </button>
              </form>
            </div>
          </div>  
        </div>
      </div>
  <%}) %>
  <%} %>

</div>
<%- include('partials/footer') %>
